body {
    font-family: 'PT Serif', serif;
    font-size: 13pt;
    font-weight: 400;
    margin: 0px;
}

a {
    font-weight: bold;
    color: #047390;
    font-size: 14pt;
}

#content_wrapper {
    background-color: white;
    border: 1px solid black;
    margin: 0px auto;
    padding: 0px;
    width: 700px;

}

#main_content {
    height: 350px;
    padding: 0px 10px;
}

#main_content h1 {
    font-size: 19.5pt;
    font-weight: 700;
    margin: 15px 0px;
}

.input {
    margin-bottom: 5px;
}

#bad_input {
    font-style: italic;
    color: Red;
}

.result {
    height: 42px;
    position: relative;
}

.result p {
    margin: 0px;
    position: absolute;
    bottom: 0px;
}

.bigNum {
    font-size: 20pt;
    font-weight: 700;
}

.smallNum {
    font-size: 18pt;
    font-weight: 700;
}

#share_result {
    margin-top: 20px;
}

#share_result ul {
    padding: 0px;
    margin: 0px;
}

.social_item {
    display: inline-block;
    margin: 2px 0px;
}

#twitter_link {
    background-color: #1da1f2;
}

#facebook_link {
    background-color: #3b5998;
}

#embed_link {
    background-color: #505050;
}

.social_link {
    display: block;
    padding: 4px 8px;
    color: #ffffff;
    font-size: 12pt;
    font-weight: 400;
    border-radius: 5px;
    text-decoration: none;
}

.social_link:hover {
    opacity: 0.9;
}

.social_icon {
    height: 25px;
    font-size: 19px;
    line-height: 25px;
    vertical-align: text-top;
}

.social_text {
    display: inline-block;
    vertical-align: middle;
}

#twitter_link .social_text {
    margin-left: -5px;
}

#embed_code {
    width: 380px;
    height: 25px;
    display: inline-block;
}

#footer {
    padding: 10px 60px 10px 10px;
    height: 80px;
}

#footer_link {
    float: right;
    line-height: 80px;
}